@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Space Grotesk', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#tumSayfa {
    width: 100%;
    min-height: 100vh;
    background-image: url("../fotolar/arkaplan3.jpg");
    background-size: cover;
    /* ekranı doldurur */
    background-position: center;
    background-repeat: no-repeat;
}

/*Üst Menü Başlangıç */
.UstMenu {

    display: flex;
    align-items: center;
    width: 80%;
    margin: 0px auto;

    justify-content: space-evenly
}

#UstMenuSag a {
    color: black;
}

#UstMenuFoto img {
    width: 200px;

}

.UstMenuOrta ul {
    display: flex;
    list-style: none;
}

.UstMenuOrta ul>li {
    position: relative;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    background: white;
    min-width: 160px;

    text-align: center;
}

.UstMenuOrta ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    flex-direction: column;
    background: white;
    border: 1px solid black;
    z-index: 999;
}

.UstMenuOrta ul li ul li {
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.UstMenuOrta ul li ul li a {
    display: block;
    text-decoration: none;
    color: black;
}


.UstMenuOrta ul>li:hover {
    background: black;
    color: white;
}

.UstMenuOrta ul li ul li:hover {
    background: black;
}

.UstMenuOrta ul li ul li:hover a {
    color: white;
}


.UstMenuOrta ul>li:hover ul {
    display: flex;
}

.yanmenu {
    position: absolute;

    height: 100%;
    left: -260px;
    top: 70px;
    transition: left 0.3s ease;
    z-index: 1000;
}

.yanmenu ul {
    display: flex;
    flex-direction: column;
    list-style: none;



}

.yanmenu ul>li {
    position: relative;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    background: white;
    min-width: 160px;

    text-align: center;
}

.yanmenu ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    flex-direction: column;
    background: white;
    border: 1px solid black;
    z-index: 999;
}

.yanmenu ul li ul li {
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.yanmenu ul li ul li a {
    display: block;
    text-decoration: none;
    color: black;
}


.yanmenu ul>li:hover {
    background: black;
    color: white;
}

.yanmenu ul>li:hover {
    background: black;
    color: white;
}

.yanmenu ul li ul li:hover {
    background: black;
}

.yanmenu ul li ul li:hover>a {
    color: white !important;
}


.yanmenu ul>li:hover ul {
    display: flex;

}

.burgiricon {
    width: 90px;
    cursor: pointer;
    margin: 0px auto;
    display: none;
}

/*Üst Menü Bitiş */
/*Ürünler Kısmı Başlangıç */
.altmenu {
    margin: 0px auto;

    width: 70%;
    display: flex;
}

.altmenu .yanfoto {


    width: 20%;
    margin-right: 5px;

}

.altmenu .yanfoto img {
    width: 100%;
    height: 100%;


}

.UrunContainer {

    margin: 0px auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.UrunContainer .urun {
    width: 25%;
    border: 1px solid black;
    transition: transform 0.4s;
    background-color: white;


}

.UrunContainer .urun>a {
    color: black;


}

.urun h4,
p {
    text-align: center;
}

.UrunContainer .urun .UrunImg {
    width: 70%;
    display: flex;
    margin: 0px auto;


}

.UrunContainer .urun .UrunImg img {
    width: 100%;

}

.UrunContainer .urun .UrunImgOzel img {
    width: 100%;

}

.UrunContainer .urun:hover {
    transform: scale(1.02);
    position: relative;

}

/*Ürünler Kısmı Bitiş */
/*Footer Başlangıç*/
.footer {
    width: 100%;
    color: white;

    margin-top: 40px;
    background-color: black;
    display: flex;
}

.footer .yazilar {
    width: 70%;
    margin: 20px auto;
    display: flex;

    justify-content: space-between;
}

.footer .yazilar a {
    display: flex;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    font-size: 15px;
}

/*Footer Bitişç*/
@media (max-width: 992px) {


    .UstMenu {
        width: 95%;

        display: flex;

    }

    #UstMenuFoto img {
        width: 160px;
    }

    .UstMenuOrta ul {
        display: flex;

    }

    .UstMenuOrta ul {
        display: none;
    }



    .burgiricon {
        display: block;
    }

    .burgir .yanmenu {

        display: none;
        display: flex;
        flex-direction: column;

    }


    /* Sol yandaki foto alanı */
    .altmenu {
        width: 90%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .altmenu .yanfoto {
        width: 50%;
        margin: 0 auto 15px auto;
    }

    /* Ürün kutuları */
    .UrunContainer .urun {
        width: 45%;
        margin: 5px;
    }

    /* Footer */
    .footer .yazilar {
        width: 90%;
    }
}