@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Rye&family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Space Grotesk', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

#tumSayfa {
    min-height: 100vh;
    background-image: url("../fotolar/arkaplan3.jpg");
    background-size: cover;
    /* ekranı doldurur */
    background-position: center;
    background-repeat: no-repeat;
}

/*Üst Menü Başlangıç */
.UstMenu {

    display: flex;
    align-items: center;
    width: 90%;

    margin: 0px auto;

    justify-content: space-evenly
}

#UstMenuSag a {
    color: black;
}


#UstMenuFoto img {
    width: 200px;

}

.UstMenuOrta ul {
    display: flex;
    list-style: none;
}

.UstMenuOrta ul>li {
    position: relative;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    background: white;
    min-width: 160px;

    text-align: center;
}

.UstMenuOrta ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

    flex-direction: column;
    background: white;
    border: 1px solid black;
    z-index: 999;
}

.UstMenuOrta ul li ul li {
    border-bottom: 1px solid black;
    padding: 10px 0;
}

.UstMenuOrta ul li ul li a {
    display: block;
    text-decoration: none;
    color: black;
}


.UstMenuOrta ul>li:hover {
    background: black;
    color: white;
}

.UstMenuOrta ul li ul li:hover {
    background: black;
}

.UstMenuOrta ul li ul li:hover a {
    color: white;
}


.UstMenuOrta ul>li:hover ul {
    display: flex;
}

/*Üst Menü Bitiş */
/*üye ol Başlangıç */
.ana {
    width: 40%;
    margin: 200px auto;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid black;
    border-radius: 8px;

}

.ana .baslik {

    color: white;
    background-color: black;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ana .baslik h1 {
    text-align: center;

}

.ana .kayit {
    display: flex;

    text-align: center;
    padding: 10px;

}

.ana .kayit form * {
    margin-bottom: 30px;


}

.ana .kayit form label {
    font-size: 20px;
    font-weight: 800;
}

.ana .kayit form>input {
    padding: 10px;
    width: 70%;
    border: 1px solid black;
    border-radius: 8px;
}

#checkLabeli {
    font-weight: 300;


}

#checkLabeli strong {
    font-weight: 700;

    text-decoration: underline;

}

#buton {
    background-color: black;
    color: white;
    margin-top: 30px;
}




/*üye ol Bitiş */
/*Footer Başlangıç*/
.footer {
    width: 100%;
    color: white;

    margin-top: 40px;
    background-color: black;
    display: flex;
}

.footer .yazilar {
    width: 70%;
    margin: 20px auto;
    display: flex;

    justify-content: space-between;
}

.footer .yazilar a {
    display: flex;
    text-decoration: none;
    color: white;
    margin-top: 10px;
    font-size: 15px;
}

/*Footer Bitişç*/

@media (max-width: 992px) {

    .UstMenu {
        width: 70%;
        margin: 0px 0px;
    }

    .UstMenuOrta ul>li {
        min-width: 120px;
        padding: 8px 10px;
        font-size: 15px;
    }

    .ana {
        margin: 10px auto;
        width: 70%;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer .yazilar {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .footer .yazilar a {
        font-size: 14px;
        justify-content: center;
    }

}



@media (max-width: 768px) {

    #UstMenuFoto img {
        width: 150px;
    }

    .UstMenu {
        width: 95%;
        display: flex;
        flex-direction: column;
    }


    .UstMenuOrta ul {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .ana {
        margin: 10px auto;
        width: 90%;
    }

    .footer {
        flex-direction: column;
        text-align: center;
    }

    .footer .yazilar {
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .footer .yazilar a {
        font-size: 14px;
        justify-content: center;
    }
}